﻿@model Restaurants.Domain.Dtos.OrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Блюдо
            </th>
            <th>
                Ресторан
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена за блюдо
            </th>
            <th>
                Дата заказа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Carts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishPrice)
                </td>
                <td>
                    @Model.OrderDate
                </td>
            </tr>

        }
    </tbody>
</table>
<span>TotalPrice:</span><span> @Model.TotalPrice</span>