﻿@model IEnumerable<Restaurants.Domain.Dtos.OrderModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Заказы</h1>


@foreach (var item in Model)
{
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Блюдо
                </th>
                <th>
                    Ресторан
                </th>
                <th>
                    Количество
                </th>
                <th>
                    Цена за блюдо
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var cart in item.Carts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cart.Dish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cart.Restaurant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cart.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cart.DishPrice)
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <span>TotalPrice:</span>
    <span> @item.TotalPrice</span>
    <br />
}
