﻿@model Restaurants.Domain.Dtos.RestaurantModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RestaurantModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <input asp-for="Id" type="hidden" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
