﻿@model Restaurants.Domain.Dtos.RestaurantModel

@{
    ViewData["Title"] = "Details";
}

<h1>Кафе @Model.Name</h1>


<h5>Рейтинг @Model.Rating</h5>
@if (User.IsInRole("user"))
{
    <div>
        <p>
            <form asp-controller="Rating" asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    @for (int i = 1; i < 6; i++)
                    {
                        <input type="radio" name="rating" value="@i" />
                    }
                </div>
                <button type="submit" class="btn btn-primary">Изменить рейтинг</button>
            </form>
        </p>
    </div>
}

<div>
    <hr />
    <h3>В нашем кафе @Model.Description</h3>
</div>
<div>
    <span>Список блюд кафе "@Model.Name"</span>
    <br />
    <table class="table">
        <thead>
        <tr>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Цена
                </th>
                <th></th>
            </tr>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Dishes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("user"))
                    {
                        <form asp-controller="Cart" asp-action="Create">
                            <input name="dishId" type="hidden" value="@item.Id" class="form-control" />
                            <input name="restaurantId" type="hidden" value="@Model.Id" class="form-control" />
                            <div class="form-group">
                                <input type="submit" value="Добавить в корзину" class="btn btn-default" />
                            </div>
                        </form>
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<br/>
<br/>
<br/>
<br/>
<hr />
<div>
    <p><b>Список комментариев</b></p>
</div>
<hr />
@foreach (var item in Model.Comments)
{
    <span><b>@Html.DisplayFor(modelItem => item.Title)</b></span><br />
    <span><b>@Html.DisplayFor(modelItem => item.UserName)</b></span><br />
    <div>@Html.DisplayFor(modelItem => item.Message)</div>
    <hr />
}
@if (User.IsInRole("user"))
{
    <a class="btn btn-sm btn-primary" asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Id">Добавить комментарий</a>
}


