﻿@model IEnumerable<Restaurants.Domain.Dtos.RestaurantModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Рестораны</h1>
@if (User.IsInRole("administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table" enctype="multipart/form-data">
    <thead>
        <tr>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Название
                </th>
                <th>
                    Фото
                </th>
                <th>
                    Описание
                </th>
                <th></th>
            </tr>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>        
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.ImagePath" width="600" height="400">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User.IsInRole("administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) 
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}) 
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
}
    </tbody>
</table>
