﻿@model Restaurants.Domain.Dtos.CartModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Ресторан
            </th>
            <th>
                Количество
            </th>
            <th>
                Сумма
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Carts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DishPrice)
            </td>
            <td>
                <form asp-controller="Cart" asp-action="Delete">
                    <div class="form-group">
                        <input type="hidden" name="dishId" value="@item.DishId" />
                        <input type="hidden" name="restaurantId" value="@item.RestaurantId" />
                        <input type="submit" value="Удалить из корзины" class="btn btn-primary" />
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<span>Итого: @Model.TotalPrice</span>

<form asp-controller="Order" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="submit" value="Сделать заказ" class="btn btn-primary"/>
    </div>
</form>
