﻿@using RestaurantsCore.Models
@model IEnumerable<RestaurantsCore.Models.Role>
 
@{
    ViewBag.Title = "Роли";
}
 
<h2>Роли</h2>
<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Назначить роль</a>
<table class="table">
    <tr>
        <th>Название</th>
        <th>Id</th>
        <th></th>
    </tr>
 
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
</table>