﻿@using Microsoft.AspNetCore.Mvc.Localization
@using RestaurantsCore.Models
@model Restaurants.Domain.Dtos.SetRoleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@User.Identity.Name</h2>

<form asp-action="SetRole" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (Role role in Model.AllRoles)
        {
            <input type="radio" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>