﻿@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<RestaurantsCore.Models.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="SetRole" asp-route-userid="@user.Id">Изменить права</a>
            </td>
        </tr>
    }
</table>